/* شروع صفحه اصلی */

@font-face {
    font-family: SYA;
    src: url();
}

html,body{
    background-image: url(./ترید\ \(1\).jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: SYA;
    height: 106%;
    width: 100%;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}

.karbery{
    background-color: rgb(26, 163, 173);
    width: 220px;
    height: 55px;
    position: absolute;
    top: 70.8px;
    border-radius: 10px;
    border: 0;
}

.backgrand-img{
    background-image: url(./ترید\ \(1\).jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
}

.backgrand{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 115%;
    position: absolute;
}

.p-border{
    border-bottom: 1px solid;
    color: white;
    position: absolute; 
    left: 220px;
    width: 83.8%;
    height: 53.8px;
}
.p-bg:hover{
    background-color: rgb(23, 131, 139);
    cursor: pointer;
  }

.img-m{
    width: 54px;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 10.4rem;
}
.img-m:hover{
    cursor: pointer;
}

.s{
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 11%;
}

.button-class{
    background-color: rgb(149, 214, 194);
    width: 100px;
    height: 37px;
    position: absolute;
    top: 10px;
    left: 14px;
    border: 0px;
    border-radius: 10px;
}

/* اتمام صفحه اصلی */

.add-btn{
    position: absolute;
    top: 25%;
    left: 62%;
    height: 80px;
    width: 400px;
    background-color: rgb(26, 163, 173);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.add-btnt{
    position: absolute;
    top: 25%;
    left: 10%;
    height: 80px;
    width: 400px;
    background-color: rgb(26, 163, 173);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.matn-h1{
    position: absolute;
    top: 45%;
    left: 30%;
    color: white;
}

.h2-piskan{
    position: absolute;
    top: 400px;
    left: 10%;
    color: rgb(176, 176, 176);
}